<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">AUDI</h3>
  <!-- <img  src="https://i.pinimg.com/originals/63/75/44/637544e07960ba1608e7307aebee853b.jpg" class="navbar-brand-img" alt="..."> -->
  <a routerLinkActive="active" [routerLink]="['/createodr']" class="w3-bar-item w3-button">Create Order</a>
  <a href="#" class="w3-bar-item w3-button">Order List</a>
</div>


  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form>
        <div class="form-group">
            <h1>Purchase Order</h1>
        </div>

    <div class="form-group">
    <label for="orderid">Order id</label>
    <input type="text" class="form-control" ngModel name="order_id" required />
    </div>


    <div class="form-group">
    <label for="qty">QTY</label>
    <input type="text" class="form-control" ngModel name="qty" required />
    </div>


    <div class="form-group">
        <label for="productid">Product id</label>
        <input type="text" class="form-control" ngModel name="product_id" required />
        </div>


        <div class="form-group">
            <label for="expectdate">Expected date</label>
            <input type="text" class="form-control" ngModel name="expectedDate" required />
            </div>






                <div class="form-group">
                    <label for="cmpltndate">Completion Date</label>
                    <input type="text" class="form-control" ngModel name="completedDate" required />
                    </div>



                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" ngModel name="price" required />
                        </div>

                        <div class="form-group">
                            <label for="owner">Owner</label>
                            <input type="text" class="form-control" ngModel name="owner" required />
                            </div>



    
    
    <div>
    <button class="btn btn-primary" type="submit">Submit</button><br>
    </div>
    
    </form>
    </div>
    </div>